{% extends "base.html" %}
{% block titulo %}
        Contacto
    {% endblock %}

{% block familiares %}

<div class="card" style="width: 18rem;">
    <h5 class="card-title">Nicolás Casal</h5>
    <img src="https://scontent.faep8-3.fna.fbcdn.net/v/t1.6435-9/80598237_2538954336142178_8440366354531352576_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=730e14&_nc_ohc=S-1d1fPO754AX_S6d6Y&_nc_ht=scontent.faep8-3.fna&oh=00_AT9FxmpF07RDEE8769inaO87ac6_i_ytUrsT9tSxRXPCOw&oe=62E85818" class="card-img-top" alt="...">
    <div class="card-body">
      
      <p class="card-text">Datos de Redes Sociales</p>
      <a href="https://www.facebook.com/nickiscasal/" class="btn btn-primary" target="_blank">Facebook</a>
      <a href="https://www.instagram.com/nicocasal14/" class="btn btn-primary" target="_blank">Instagram</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <h5 class="card-title">Michel Vallone</h5>
    <img src="https://scontent.faep8-3.fna.fbcdn.net/v/t1.6435-9/87974942_10221834861369150_7216962671365586944_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=174925&_nc_ohc=0pnlkFXwBrkAX9sXSEj&_nc_ht=scontent.faep8-3.fna&oh=00_AT-FFdQ0Y88NhhysrxgUqDjFyjAMi54rqO4EAsXGmB5NBA&oe=62E7CA15" class="card-img-top" alt="...">
    <div class="card-body">
      
      <p class="card-text">Datos de Redes Sociales</p>
      <a href="https://www.facebook.com/miyel.vallone" class="btn btn-primary" target="_blank">Facebook</a>
      <a href="https://www.instagram.com/miyel.vallone/" class="btn btn-primary" target="_blank">Instagram</a>
    </div>
  </div>

{% endblock %}