{% extends "base.html" %}

{% block titulo %}
Borrado de Mascota
{% endblock %}

{% block familiares %}

{% if mascota %}
    <h3 style="color: red">Estás por eliminar a la mascota {{mascota.name}}. ¿Estás seguro? </h3>

    <form action="/primermvt/eliminar_mascota/{{mascota.id}}/" method = "POST">
    {% csrf_token %}
    <a href="/primermvt/mascotas/" class="btn btn-primary">Cancelar</a>
    <button class="btn btn-danger" type="submit">Eliminar</button>
    </form>
{% else %}
<h3>{{message}}</h3>
{% endif %}

{% endblock %}
