{% extends "base.html" %}

{% block familiares %}
{% if form %}

<h2>Formulario de Grupo Familiar</h2>

<form method="POST" action ="">
  {% csrf_token %}
<table>
  {{form.as_table}}
</table>
<input type="submit", value="Enviar">
</form>

{% elif new_familiar %}

<div class="card" style="width: 18rem;">
  <img class="card-img-top" alt="..." enctype="multipart/form-data">
  <div class="card-body">
    <h5 class="card-title">Nombre: {{new_familiar.name}}</h5>
    <p class="card-text">Edad: {{new_familiar.edad}}<br>
      Nacimiento: {{new_familiar.nacimiento}}<br>
    DNI: {{new_familiar.dni}}</p>
    <a href="/primermvt/grupofliar/" class="btn btn-primary">Crear Nuevo</a>
  </div>
</div>

{% endif %}

{% endblock %}

      
