{% extends "base.html" %}
{% block titulo %}
        Inicio
    {% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    </title>
</head>
<body>
    {% block familiares %}
      
    <h3>Esta es la página de inicio predefinida, por favor, usá la navbar para interactuar</h3>

    <h3>{{mensaje}}</h3>
    <h3>{{deslogueado}}</h3>

    {% endblock %}
</body>
</html>