{% extends "base.html" %}

{% block titulo %}
Buscador
{% endblock %}

{% block familiares %}
<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    {% for fliar in fliares %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://i.pinimg.com/736x/b0/18/5a/b0185a72a7a81cd306c6981c20ddf40a.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Nombre: {{fliar.name}}</h5>
            <p class="card-text">Edad: {{fliar.edad}}</p>
            <a href="/primermvt/familiar_detalle/{{fliar.id}}" class="btn btn-primary">Detalles</a>
        </div>
    </div>

    {% endfor %}
{% for mascota in mascotas %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://e7.pngegg.com/pngimages/132/908/png-clipart-pet-sitting-dog-walking-cat-black-cat-mammal-cat-like-mammal.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Nombre: {{mascota.name}}</h5>
            <p class="card-text">Edad: {{mascota.edad}}</p>
            <a href="/primermvt/mascota_detalle/{{mascota.id}}" class="btn btn-primary">Detalles</a>
        </div>
    </div>
    {% endfor %}

    {% for vehiculo in vehiculos %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://img2.freepng.es/20190507/rsf/kisspng-car-towing-vector-graphics-vehicle-illustration-impact-2-16-dinners-with-love-5cd15e42b5fc12.6207670515572250267454.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Nombre: {{vehiculo.name}}</h5>
            <p class="card-text">Precio: {{vehiculo.precio}}$</p>
            <a href="/primermvt/vehiculo_detalle/{{vehiculo.id}}" class="btn btn-primary">Detalles</a>
    {% endfor %}

    {% endblock %}