{% extends "base.html" %}

{% block titulo %}
Familiares
{% endblock %}

{% block familiares %}
<h2>{{message}}</h2>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    {% for fliar in fliares %}
    <div class="card" style="width: 18rem;">
        {% if fliar.image %}
        <img class="card-img-top" src="{{fliar.image.url}}" alt="Card image cap">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">Nombre: {{fliar.name}}</h5>
            <p class="card-text">Edad: {{fliar.edad}}</p>
            <a href="/primermvt/familiar_detalle/{{fliar.id}}" class="btn btn-primary">Detalles</a>
        </div>
    </div>
    
    {% endfor %}
    {% endblock %}