{% extends "base.html" %}

{% block titulo %}
Vehículos
{% endblock %}

{% block familiares %}

{% if form %}

<h2>Formulario de Vehículos</h2>

<form method="POST" action ="">
  {% csrf_token %}
<table>
  {{form.as_table}}
</table>
<input type="submit", value="Enviar">
</form>

{% elif new_vehiculo %}

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Nombre: {{new_vehiculo.name}}</h5>
    <p class="card-text">Precio: {{new_vehiculo.precio}}<br>
      Marca: {{new_vehiculo.marca}}<br>
    Patente: {{new_vehiculo.patente}}</p>
    <a href="/admin/" class="btn btn-primary">Administrador</a>
  </div>
</div>

{% endif %}

{% endblock %}