{% extends "base.html" %}

{% block titulo %}
Detalle de vehículos
{% endblock %}

{% block familiares %}
<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://img2.freepng.es/20190507/rsf/kisspng-car-towing-vector-graphics-vehicle-illustration-impact-2-16-dinners-with-love-5cd15e42b5fc12.6207670515572250267454.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Nombre: {{vehiculo.name}}</h5>
            <p class="card-text">Precio: {{vehiculo.precio}}$</p>
            <p class="card-text">Marca: {{vehiculo.marca}}</p>
            <p class="card-text">Patente: {{vehiculo.patente}}</p>
            <a href="/primermvt/vehiculos/" class="btn btn-primary">Volver</a>
            <a href="/primermvt/editar_vehiculo/{{vehiculo.id}}" class="btn btn-primary">Editar</a>
            <a href="/primermvt/eliminar_vehiculo/{{vehiculo.id}}/" class="btn btn-danger">Eliminar</a>
        </div>
    </div>
    
    {% endblock %}